.header__lang-link {
  color: #FFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media all and (min-width: 230px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}