.lead__title {
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFF;
  text-align: center;
  margin: 0 auto 32px auto;
}

@media all and (min-width: 230px) and (max-width: 768px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px auto;
  }
}