.place__paragraph {
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-area: paragraph;
  margin: 0;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media all and (min-width: 230px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 16px 0 16px;
  }
}