.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 0 0 33px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (min-width: 230px) and (max-width: 1023px) {
  .intro__text {
    margin-bottom: 31px;
  }
}