.lead__subtitle {
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFF;
    text-align: center;
    margin: 0 auto 64px auto;
}