.cover__title {
    max-width: 560px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    margin-bottom: 32px;
}

@media all and (max-width: 384px) { 
    .cover__title {
        font-size: 50px;
        line-height: 40px;
    }
}

@media all and (max-width: 600px) { 
    .cover__title {
        max-width: 395px;
        font-size: 50px;
        line-height: 50px;
    }
}

@media all and (max-width: 384px) { 
    .cover__title {
        max-width: 315px;
        font-size: 40px;
        line-height: 40px;
    }
}