.place {
    display: grid;
    grid-template-columns: minmax(min-content, 461px) minmax(456px, 483px);
    grid-template-areas:
    "title website"
    "image paragraph";
    column-gap: 40px;
    row-gap: 46px;
    justify-content: center;
    margin-bottom: 81px;
}

.place:last-child {
    margin: 0;
}